body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background: #f1f5fd;
  color: #333;
  text-align: center;
}

.navbar {
  text-align : center;
  background: linear-gradient(to right, #2c3e50, #2980b9);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  flex-wrap: wrap;
  font-size: 14px;
}

.navbar a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
  font-weight: 500;
}

.card {
  background: white;
  padding: 2rem;
  margin: 3rem auto;
  border-radius: 10px;
  max-width: 600px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  text-align: center;
}

.judul {
  color: #2c3e50;
}

form {
  margin-top: 1rem;
}

input[type="text"] {
  padding: 10px;
  width: 80%;
  max-width: 300px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  background: #2980b9;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}

footer {
  background: #1f2f46;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

.hasil {
  margin-top: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.hasil.lulus {
  color: green;
}

.hasil.tidak-lulus {
  color: red;
}
